@font-face {
  font-family: 'GmarketSansBold';
  src: url('../public/fonts/GmarketSansBold.otf') format('opentype');
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../public/fonts/GmarketSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('../public/fonts/GmarketSansLight.otf') format('opentype');
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0; /*자동 8px을 위한 강제 설정*/
  background-color: #F6C4B7;
}

#root {
  width: 100%;
}

.swal2-title {
  font-family:GmarketSansMedium;
  font-size : 20px!important;
}

.swal2-styled.swal2-confirm {
  background-color: grey!important;
  height: 40px;
  width: 100px;
}

.swal2-popup{
  border-radius: 20px;
  padding: 1em 1em 1.25em 0!important;
}
