.Login {
    height: 100%;
    width: 100%;
}

#Common {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#Main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /*컨텐츠 간 수직 정렬 (direction이 column이라 축이 바뀜*/
    align-content: center; /*컨텐츠 간 수평 정렬*/
    align-items: center; /*컨텐츠 각각의 수평 정렬*/
}

#Wiki {
    background-image: url("../public/img/wiki.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#Login-button {
    cursor: pointer;
    background-image: url("../public/img/login_button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    position: relative;
}
