#Laptop {
    height: 100%;
}

#Laptop #Icon {
    top: 70px;
    left: 80px;
}

#Laptop #Icon > button {
    width: 90px;
    height: 90px;
}

#Laptop #Logo {
    position: relative;
    top: 70px;
    z-index: 1;
}

#Laptop #Logo > img {
    width: 1000px;
}

#Laptop #Character {
    position: relative;
    top: -10px;
    margin-left: 1.5%;
}

#Laptop #Character > #img {
    width: 550px;
}
