#Tablet {
    width: 100vw;
    height: 100vh;
}

#Tablet #Main {
    margin-top: 5vh;
}

#Tablet #Common #Main #Wiki {
    width: 7vw;
    max-width: 50px;
    padding-bottom: 7vh;
    position: absolute;
    top: 0px;
    margin-top: 3vh;
    margin-left: 85vw;
}

#Tablet #Common #Main #Logo {
    width: 100vw;
    text-align: center;
}

#Tablet #Common #Main #Logo img {
    width: 70vw;
    max-width: 600px;
}

#Tablet #Common #Main #Character {
    width: 100vw;
    text-align: center;
}

#Tablet #Common #Main #Character img {
    width: 40vw;
    max-width: 340px;
    margin-left: 1.5vw;
}

#Tablet #Common #Main #Login-button {
    width: 25vw;
    max-width: 200px;
    padding-bottom: 9.4vh;
}
