#Mobile {
    width: 100vw;
    height: 100vh;
}

#Mobile #Common #Main #Wiki {
    width: 8vw;
    padding-bottom: 8vh;
    position: absolute;
    top: 0px;
    margin-top: 5vh;
    margin-left: 80vw;
}

#Mobile #Common #Main #Logo {
    width: 100vw;
    text-align: center;
}

#Mobile #Common #Main #Logo img {
    width: 80vw;
}

#Mobile #Common #Main #Character {
    width: 100vw;
    text-align: center;
}

#Mobile #Common #Main #Character img {
    width: 60vw;
    margin-left: 1.5vw;
}

#Mobile #Common #Main #Login-button {
    width: 40vw;
    height: 10vh;
    margin-top: 10vh;
}
