#Desktop {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#Desktop #Common #Wiki {
    width: 5%;
    max-width: 100%;
    padding-bottom: 7%;
    position: absolute;
    top: 0px;
    margin-top: 2.5%;
    margin-left: 87%;
}

#Desktop #Common #Logo {
    width: 100%;
    text-align: center;
}

#Desktop #Common #Logo img {
    width: 40%;
    max-width: 1080px;
}

#Desktop #Common #Character {
    width: 100%;
    text-align: center;
}

#Desktop #Common #Character img {
    width: 25%;
    max-width: 540px;
    margin-left: 1.5%;
}

#Desktop #Common #Login-button {
    width: 15%;
    max-width: 320px;
    padding-bottom: 5.4%;
}
