#Search #Mobile {
    width: 100%;
}

#Search #Mobile #Wrapper #Logo a{
    width : 60%;
    max-width: 300px;
    text-decoration : none;
}

#Search #Mobile #Wrapper #Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh 0 4vh 0;
}

#Search #Mobile #Wrapper #Logo img {
    width: 100%;
}

#Search #Mobile #Wrapper #Logo p {
    margin-top: 2%;
    font-family: GmarketsansLight;
    font-size: 2.5vw;
    color: white;
}


#Search #Mobile #Wrapper #SearchWrapper
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom : 20px;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox {
    width : 70%;
    height : 9vw;
    display : flex;
    align-items: center;
    /* border : 3px solid white; */
    background-color: white;
    border-radius: 20px;
    max-height: 125px;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox #SearchMascot {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width : 20%;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox #SearchMascot img{
    width: 85%;
    height : 100%;
    max-width: 540px;
    margin-left: 1.5%;
    object-fit: cover; 
}
#Search #Mobile #Wrapper #SearchWrapper #SearchBox form {
    display : flex;
    align-items: center;
    /* justify-content: space-between; */
    width : 100%;
    height : 100%;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox form input {
    background-color: transparent;
    width : 85%;
    padding: 0;
    /*height : 100%;*/
    display: inline-block;
    font-family: GmarketSansMedium;
    font-size: clamp(8px, 3.5vw, 15px);
    line-height : 2;
    text-align: left;
    border :0;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox form input:focus {
    outline:none;
}

#Search #Mobile #Wrapper #SearchWrapper #SearchBox #SearchButton {
    width : 6vw;
    height : 6vw;
    margin : 5px;
    padding: 0;
    float : right;
    background-color: #F6C4B7;
    background-image : url("../../public/img/zoom_white.svg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 0.9vw 0.8vw;
    border : none;
    border-radius : 50px;
    cursor: pointer;
}

#Search #Mobile #Wrapper .Profile {
    width: 85%;
    display: flex;
    align-items: center;
    height: 20vw;
    max-height: 80px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}

#Search #Mobile #Wrapper .Profile .Photo {
    display: flex;
    width: 15%;
    max-width: 60px;
    height: 12.5vw;
    max-height: 60px;
    border-radius: 70%;
    margin: 1.5% 1.5% 1.5% 3%;
    overflow: hidden;
}

#Search #Mobile #Wrapper .Profile .Photo img {
    width: 100%;
    object-fit: cover;
}

#Search #Mobile #Wrapper .Profile .Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    margin-top: min(6px, 1.5%);
}

#Search #Mobile #Wrapper .Profile .Info > div {
    margin: 0 2% 0 2%;
    margin-bottom: min(6px, 1.5%);
}

#Search #Mobile #Wrapper .Profile .Info .Name {
    font-family: GmarketSansBold;
    font-size: clamp(8px, 3.5vw, 15px);
}

#Search #Mobile #Wrapper .Profile .Info .Locate {
    font-family: GmarketSansMedium;
    font-size: clamp(8px, 3.5vw, 15px);
}

#Search #Mobile #Wrapper .Profile .Info .Msg {
    font-family: GmarketSansLight;
    font-size: clamp(6px, 3vw, 13px);
}

#Search #Mobile #Wrapper .ProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile {
    margin-bottom: 10px;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile .ButtonWrapper {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile .ButtonWrapper > button {
    padding: 0;
    float : right;
    width : 5vw;
    height : 5vw;
    background-color: white;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    /*padding: 1px;*/
    margin-left:2px;
    cursor : pointer;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile .ButtonWrapper .AddDone{
    background-image: url('../../public/img/friend_check.svg');
    margin: 1px 0;
    cursor : auto;
    border-radius: 50px;
    border : 0.3vw solid black;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile .ButtonWrapper .AddFriend{
    background-image: url('../../public/img/friend_plus.svg');
    margin: 1px 0;
    border-radius: 50px;
    border : 0.3vw solid black;
}

#Search #Mobile #Wrapper .ProfileWrapper .Profile .ButtonWrapper .CheckSpot{
    /*margin-top : 5px;*/
    padding: 0;
    border : 0;
    width : 7vw;
    height : 40%;
    background-color : white;
    background-image: url('../../public/img/detail_off.svg');
}

#Mobile .Locate::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: clamp(3px, 1.5vw, 9px);
    bottom: 3px;
    z-index: -1;
    background-color: #f6e298;
    transition: 0.2s all;
}

#Mobile .Locate {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: max-content;
}

#Mobile .Locate:hover:before {
    width: 100%;
}
