#Search #Desktop {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Search #Desktop #Wrapper {
    position: relative;
    width: 70%;
    max-width: 1300px;
    min-height: 100vh;
    background-color: white;
}

#Search #Desktop #Wrapper #Logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

#Search #Desktop #Wrapper #Logo img {
    width: 40%;
}

#Search #Desktop #Wrapper #SearchWrapper
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom : 20px;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox {
    width : 50%;
    height : 5vw;
    display : flex;
    align-items: center;
    border : 3px solid #F6C4B7;;
    border-radius: 20px;
    max-height: 125px;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox #SearchMascot {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width : 20%;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox #SearchMascot img{
    width: 100%;
    height : 100%;
    max-width: 540px;
    margin-left: 1.5%;
    object-fit: cover; 
}
#Search #Desktop #Wrapper #SearchWrapper #SearchBox form {
    display : flex;
    align-items: center;
    /* justify-content: space-between; */
    width : 100%;
    height : 100%;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox form input {
    background-color: transparent;
    width : 85%;
    padding: 0;
    height : 100%;
    display: inline-block;
    font-family: GmarketSansMedium;
    font-size: clamp(10px, 1.5vw, 24px);
    line-height : normal;
    text-align: left;
    border :0;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox form input:focus {
    outline:none;
}

#Search #Desktop #Wrapper #SearchWrapper #SearchBox #SearchButton {
    width : 15%;
    height : 4vw;
    margin : 5px;
    padding: 0;
    background-color: white;
    background-image : url("../../public/img/zoom.svg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 0.8vw 0.6vw;
    border : none;
    border-radius : 50px;
    cursor: pointer;
}

#Search #Desktop #Wrapper .ProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile:nth-child(odd){
    margin-left: 8%;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile:nth-child(even){
    margin-right: 8%;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile {
    display: flex;
    width: 40%;
    height: 7vw;
    max-height: 125px;
    margin-bottom: 20px;
    border: 1.5px solid grey;
    border-radius: 20px;
    z-index: 1;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Photo {
    display: flex;
    width: 20%;
    border-radius: 70%;
    margin: 3.3% 2% 3.3% 3.3%;
    overflow: hidden;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Photo img {
    width: 105%;
    object-fit: cover;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3%;
    padding-left : 1%;
    padding-right : 0;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Info > div {
    margin: 1% 0 1% 0;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Info .Name {
    font-family: GmarketSansBold;
    font-size: clamp(8px, 1.5vw, 25px);
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .ButtonWrapper {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
}   

#Search #Desktop #Wrapper .ProfileWrapper .Profile .ButtonWrapper > button {
    /* float : right;  */
    display : inline-block;
    border-radius: 20px;
    border-width: 1.2px;
    height : 35%;
    font-family: GmarketSansLight;
    font-size: clamp(6px, 1.0vw, 23px);
    margin-right: 7px;
    padding : 1;
    cursor: pointer;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .ButtonWrapper .AddDone {
    cursor : auto;
    width : 8vw;
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Info .Locate {
    font-family: GmarketSansMedium;
    font-size: clamp(8px, 1.3vw, 25px);
}

#Search #Desktop #Wrapper .ProfileWrapper .Profile .Info .Msg {
    font-family: GmarketSansLight;
    font-size: clamp(6px, 1.1vw, 23px);
}

#Desktop .Locate {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: max-content;
}

#Desktop .Locate::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 3px;
    z-index: -1;
    background-color: #f6e298;
    transition: 0.2s all;
}

#Desktop .Locate:hover:before {
    width: 100%;
}