<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src = "https://code.jquery.com/jquery-2.1.4.min.js" ></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron"> <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p> <p>
            <a class="btn btn-lg btn-secondary" href="/member/memberInfo">으앙</a>
            <a class="btn btn-lg btn-secondary" href="/member/memberInfo">회원 정보</a> </p>
    </div>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>이름</th> <th>위치</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${seoul42}">
                <td th:text="${user.login}"></td>
                <td th:text="${user.location}"></td>
                <td>
                    <a href="#" th:name="${user.login}" th:onclick="agree(name)"
                       class="btn btn-primary">동의</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script th:inline="javascript">
    function agree(name) {
        const form = document.createElement("form");
        console.log(name);
        form.setAttribute("method", "post");
        form.setAttribute("action", "/v1/member/" + name);
        document.body.appendChild(form);
        form.submit();
        console.log(typeof(name))
    }
</script>
</html>