/*폰트 사이즈, 박스 크기 등 clamp 아이맥에서 확인 필요*/

/*Common*/

#Setting #Desktop {
    display: flex;
    justify-content: center;
}

#Setting #Desktop > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1300px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 3% 0 3% 0;
    background-color: white;
}

#Setting #Desktop #Comment {
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
    font-family: 'GmarketSansBold';
    font-size: clamp(60px, 6vw, 100px);
}

#Setting #Desktop #Comment2 {
    width: 100%;
    text-align: center;
    font-family: 'GmarketSansLight';
    font-size: clamp(20px, 2vw, 40px);
}

#Setting #Desktop #BoxWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10% 0 10%;
}

#Setting #Desktop #BoxWrapper a {
    margin: 5% 3% 0 3%;
    text-decoration: none;
}

#Setting #Desktop #BoxWrapper a .Box {
    margin: 0;
}

#Setting #Desktop #BoxWrapper .Box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(220px, 22vw, 300px);
    height: clamp(220px, 22vw, 300px);
    margin: 5% 3% 0 3%;
    border-radius: 50px;
    background-color: #EF8E86;
}

#Setting #Desktop #BoxWrapper .Box .BoxCap {
    font-family: 'GmarketSansMedium';
    font-size: clamp(35px, 3.5vw, 50px);
    text-align: center;
    color: white;
}

#Setting #Desktop input:focus {
    outline: none;
}

/*SettingChoice*/

#Setting #Desktop #SettingChoice #Comment {
    font-size: clamp(40px, 4vw, 65px);
}

/*SettingMsg*/

#Setting #Desktop #SettingMsg #Comment {
    margin: 5% 0 2% 0;
    font-size: clamp(40px, 4vw, 70px);
}

#Setting #Desktop #SettingMsg #Comment2 {
    margin-bottom: 8%;
    font-size: clamp(20px, 2vw, 35px);
}

#Setting #Desktop #SettingMsg form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#Setting #Desktop #SettingMsg input {
    width: 70%;
    height: 5vw;
    line-height: 2;
    margin-bottom: 3%;
    padding-left: 1%;
    border: 0;
    border-bottom: 1px solid black;
    font-family: 'GmarketSansMedium';
    font-size: clamp(30px, 3vw, 60px);
}

#Setting #Desktop #SettingMsg button {
    width: 20%;
    height: 4vw;
    border: 0;
    border-radius: 50px;
    background-color: #EF8E86;
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: clamp(10px, 1.7vw, 50px);
}

/*SettingPlanet*/

#Setting #Desktop #SettingPlanet #BoxWrapper > :first-child > .Box {
    background-color: #F5A200;
}

#Setting #Desktop #SettingPlanet #BoxWrapper > :last-child > .Box {
    background-color: #00A84D;
}

#Setting #Desktop #SettingPlanet #BoxWrapper .Box .BoxCap {
    font-size: clamp(50px, 6.5vw, 90px);
}

/*SettingFloor*/

#Setting #Desktop #SettingFloor {
    padding: 3% 0 3% 0;
}

#Setting #Desktop #SettingFloor #BoxWrapper {
    padding: 0 7% 0 7%;
}

#Setting #Desktop #SettingFloor #BoxWrapper .Box {
    width: clamp(200px, 16vw, 300px);
    height: clamp(200px, 16vw, 300px);
}

#Setting #Desktop #SettingFloor #BoxWrapper .Box .BoxCap {
    font-size: clamp(40px, 3vw, 60px);
}

/*SettingCluster*/

#Setting #Desktop #SettingCluster #BoxWrapper .Box .BoxCap {
    font-size: clamp(35px, 3.5vw, 45px);
}

/*SettingSpot*/

#Setting #Desktop #SettingSpot #BoxWrapper .Box {
    width: clamp(180px, 18vw, 270px);
    height: clamp(180px, 18vw, 270px);
    margin: 3% 2% 0 2%;
}

#Setting #Desktop #SettingSpot #BoxWrapper .Box .BoxCap {
    font-size: clamp(25px, 2.5vw, 35px);
}

/*SettingGnF*/

#Setting #Desktop #SettingGnF #Comment {
    font-size: clamp(50px, 5vw, 90px);
}

/*SettingGroup*/

#Setting #Desktop #SettingGroup #Comment {
    font-size: clamp(40px, 4vw, 70px);
}

#Setting #Desktop #SettingGroup form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

#Setting #Desktop #SettingGroup form input {
    width: 70%;
    margin-right: 3%;
    padding-left: 1%;
    font-family: 'GmarketSansMedium';
    font-size: clamp(20px, 2vw, 35px);
    line-height: 2;
}

#Setting #Desktop #SettingGroup form button {
    width: 15%;
    height: clamp(20px, 4vw, 70px);
    border: 0;
    border-radius: 50px;
    background-color: #EF8E86;
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: clamp(10px, 1.3vw, 50px);
}

#Setting #Desktop #SettingGroup #GroupList {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Setting #Desktop #SettingGroup #GroupList .Group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Setting #Desktop #SettingGroup #GroupList :first-child .GroupButtons button {
    display: none;
}

#Setting #Desktop #SettingGroup #GroupList .Group input {
    width: 60%;
    border: none;
    font-family: 'GmarketSansMedium';
    font-size: clamp(10px, 2.5vw, 50px);
    line-height: 2;
    color: black;
    background-color: transparent;
}

#Setting #Desktop #SettingGroup #GroupList .Group .GroupButtons {
    margin-right: 3%;
}

#Setting #Desktop #SettingGroup #GroupList .Group .GroupButtons :first-child {
    background-image: url("../../public/img/group_edit.svg");
}

#Setting #Desktop #SettingGroup #GroupList .Group .GroupButtons :last-child {
    background-image: url("../../public/img/group_del.svg");
}

#Setting #Desktop #SettingGroup #GroupList .Group .FriendButtons :first-child button {
    background-image: url("../../public/img/friend_add.svg");
}

#Setting #Desktop #SettingGroup #GroupList .Group .FriendButtons :last-child button {
    background-image: url("../../public/img/friend_del.svg");
}

#Setting #Desktop #SettingGroup #GroupList div {
    width: 15%;
}

#Setting #Desktop #SettingGroup #GroupList .Group button {
    width: 40%;
    height: 2.5vw;
    margin-right: 5%;
    border: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

/*SettingFriend*/

#Setting #Desktop #SettingFriend #Comment {
    margin: 5% 0 2% 0;
    font-size: clamp(40px, 4vw, 70px);
}

#Setting #Desktop #SettingFriend form {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Setting #Desktop #SettingFriend form #MemberWrapper {
    width: 100%;
    margin: 15% 0 15% 0;
}

#Setting #Desktop #SettingFriend form #MemberWrapper #NoFriend {
    text-align: center;
    font-family: 'GmarketsansLight';
    font-size: clamp(10px, 1.5vw, 30px);
}

#Setting #Desktop #SettingFriend form button {
    width: 60%;
    height: 3.5vw;
    border: 0;
    border-radius: 50px;
    background-color: #EF8E86;
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: clamp(10px, 1.5vw, 45px);
}

#Setting #Desktop #SettingFriend .User {
    font-family: 'GmarketSansMedium';
    font-size: clamp(20px, 2.5vw, 50px);
    margin-bottom: 5%;
}

#Setting #Desktop #SettingFriend .User input {
    margin-right: 10%;
}