#Main #Desktop {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Main #Desktop #Wrapper {
    position: relative;
    width: 70%;
    max-width: 1300px;
    min-height: 100vh;
    background-color: white;
}

#Main #Desktop #Wrapper #Search {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 3vw;
    max-width: 70px;
    height: 3vw;
    max-height: 70px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-image: url("../../public/img/zoom.svg");
    background-size: cover;
    /*아이맥에서 크기 확인하고 max 정하기*/
}

#Main #Desktop #Wrapper #Logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

#Main #Desktop #Wrapper #Logo img {
    width: 40%;
}

#Main #Desktop #Wrapper #MyProfile {
    display: flex;
    justify-content: center;
    /* position: relative; */
}

#Main #Desktop #Wrapper #MyProfile #SettingWrapper {
    width: 21%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main #Desktop #Wrapper #MyProfile #SettingWrapper #Setting {
    /* position: absolute; */
    /* right: 12%; */
    /* top: 22%; */
    width: 3vw;
    max-width: 70px;
    height: 3vw;
    max-height: 70px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-image: url("../../public/img/setting-grey.svg");
    background-size: cover;
}

#Main #Desktop #Wrapper #MyProfile #Profile {
    width: 84%;
    display: flex;
    height: 7vw;
    max-height: 125px;
    margin-bottom: 20px;
    border: 1.5px solid grey;
    border-radius: 20px;
    z-index: 1;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Photo {
    display: flex;
    width: 9%;
    border-radius: 70%;
    margin: 1.5%;
    overflow: hidden;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Photo img {
    width: 100%;
    object-fit: cover;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 1.5%;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Info > div {
    margin: 0.7% 0 0.7% 0;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Info #Name {
    font-family: GmarketSansBold;
    font-size: clamp(8px, 1.5vw, 30px);
}

#Main #Desktop #Wrapper #MyProfile #Profile #Info #Locate {
    font-family: GmarketSansMedium;
    font-size: clamp(8px, 1.3vw, 30px);
    width: max-content;
}

#Main #Desktop #Wrapper #MyProfile #Profile #Info #Msg {
    font-family: GmarketSansLight;
    font-size: clamp(6px, 1.1vw, 28px);
}

#Main #Desktop #Wrapper #GroupName {
    font-family: GmarketSansLight;
    font-size: max(12px, 0.7vw);
    margin: 10px 0 10px 9%;
}

#Main #Desktop #Wrapper #ProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile:nth-child(odd){
    margin-left: 8%;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile:nth-child(even){
    margin-right: 8%;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile {
    display: flex;
    width: 40%;
    height: 7vw;
    max-height: 125px;
    margin-bottom: 20px;
    border: 1.5px solid grey;
    border-radius: 20px;
    z-index: 1;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Photo {
    display: flex;
    width: 18.7%;
    border-radius: 70%;
    margin: 3.3% 2% 3.3% 3.3%;
    overflow: hidden;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Photo img {
    width: 100%;
    object-fit: cover;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 3%;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Info > div {
    margin: 1% 0 1% 0;
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Info #Name {
    font-family: GmarketSansBold;
    font-size: clamp(8px, 1.5vw, 25px);
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Info #Locate {
    font-family: GmarketSansMedium;
    font-size: clamp(8px, 1.3vw, 25px);
}

#Main #Desktop #Wrapper #ProfileWrapper #Profile #Info #Msg {
    font-family: GmarketSansLight;
    font-size: clamp(6px, 1.1vw, 23px);
}

#NameCircle {
    display: flex;
}

#NameCircle #Name {
    margin-right: 3px;
}

#NameCircle #Circle {
    width: clamp(10px, 1vw, 15px);
    height: clamp(10px, 1vw, 15px);
    background-size: cover;
}

#Desktop #Locate {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: max-content;
}

#Desktop #Locate::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 3px;
    z-index: -1;
    background-color: #f6e298;
    transition: 0.2s all;
}

#Desktop #Locate:hover:before {
    width: 100%;
}