#Agree #Desktop #AgreeForm
{
    display : flex;
    width : 100%;
    border : 1px solid red;

}

#Agree #Desktop #AgreeForm #AgreeContent
{

    width : 80%;

}

#Agree #Desktop #AgreeForm #AgreeSign
{
    
}

#Agree #Desktop #AgreeForm #AgreeSign #FinishButton
{
    
}