#Agree #Desktop{
    width: 100%;
    display: flex;
    justify-content: center;
}

#Agree #Desktop #Wrapper
{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 70%;
    max-width: 1300px;
    min-height: 100vh;
    background-color: white;
}

#Agree #Desktop #Wrapper #HeaderWrapper
{
    text-align: center;
    margin : 40px 0;
    width : 100%;
}

#Agree #Desktop #Wrapper #HeaderWrapper #AgreeHeader
{
    display: inline-block;
    width : 90%;
    font-family: GmarketSansBold;
    font-size: clamp(20px, 7vw, 44px);
}

#Agree #Desktop #Wrapper #AgreeContent
{
    background-color : rgba(246,196,183,0.5);
    border-radius : 20px;
    width : 80%;
    max-height : 700px;
    padding: 0 30px;
    box-sizing: border-box;
    font-family: GmarketSansLight;
    font-size: clamp(12px, 2vw, 15px);
    overflow: auto;
    line-height: 1.2;
}

#Agree #Desktop #Wrapper #AgreeContent .bold
{
    font-family: GmarketSansMedium;
    font-size: clamp(15px, 3vw, 18px);
}

#Agree #Desktop #Wrapper #AgreeContent .underline
{
    text-decoration: underline;
}

#Agree #Desktop #Wrapper #AgreeContent .blue
{
    color : #8195FF;
}
#Agree #Desktop #Wrapper #AgreeContent .header
{
    font-size: clamp(15px, 3vw, 18px);
}

table, td, th {
    padding: 10px;
    border : 1px solid black;
    -webkit-border-before: 1px;
    border-collapse : collapse;
}

#Agree #Desktop #Wrapper #AskWrapper
{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 3vw;
    margin : 40px 0;
}

#Agree #Desktop #Wrapper #AskWrapper #AgreeAsk
{
    width : 60%;
    margin-right : 5px;
    font-family: GmarketSansMedium;
    font-size: 20px;
}

#Agree #Desktop #Wrapper #AskWrapper #AgreeCheck
{
    cursor: pointer;
    width : 15%;
    /*height : 10%;*/
    background-color: #F6C4B7;
    border-radius : 40px;
    border : 0;
    padding: 10px;
    font-family: GmarketSansMedium;
    font-size: 24px;
    background-color: EF8E86;
}