#Login {
    width: 100%;
    height : 100vh;
}

#Login #Common {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#Login #Wiki {
    background-image: url("../../public/img/wiki.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#Login a{
    width : 100%;
    display : flex;
    justify-content: center;
}

#Login #LoginButton {
    cursor: pointer;
    background-image: url("../../public/img/login_button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    position: relative;
}

#Login #LoginButton:active{
    outline:none !important;

}
