#Login #Mobile {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#Login #Mobile #Common #Wiki {
    width: 8%;
    padding-bottom: 8%;
    position: absolute;
    top: 0px;
    right: 5%;
    margin-top: 5%;
}

#Login #Mobile #Common #Logo {
    width: 100%;
    text-align: center;
}

#Login #Mobile #Common #Logo img {
    width: 80%;
}

#Login #Mobile #Common #Character {
    width: 100%;
    text-align: center;
}

#Login #Mobile #Common #Character img {
    width: 60%;
    margin-left: 1.5%;
}

#Login #Mobile #Common #LoginButton {
    width: 40%;
    height: 10vh;
    min-height: 70px;
    margin-top: 10%;
}
