#NotFound{
    margin:0;
    height: 100vh;
    display : flex;
    justify-content: center;
    flex-direction:  column;
    align-items: center;
}

#NotFound #NotFoundContent{
    text-shadow: 0.4vw 0.4vh 1px #767676;
    margin: 5% 0 5% 0;
    font-family: GmarketSansBold;
    color: #FF8787;
    text-align: center;
    font-size : max(30px, 7vw);
}

#NotFound #NotFoundCharacter{
    width : 50%;
    min-width: 200px;
    min-height : 200px;
    height : 50vh;
    display : inline-block;
    background-image: url("../../public/img/character_notfound.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
}

#NotFound #NotFoundCharacter:hover{
    background-image: url("../../public/img/character_notfound_boom.svg");
}